#container {
  height: 100vh;
  width: 270.5vh;
  background-image: url('https://static.vecteezy.com/system/resources/previews/001/836/123/non_2x/abstract-grey-background-poster-with-dynamic-design-vector.jpg');
  background-size:cover;
}
